:root {
  --orange: #D9B09C;
  --dark: #2c3531;
  --lessDark: #116466;
  --light: #d1e8e2;
  --lessOrange: #FFCB9A;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.headerverytop {
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1rem;
  background-color: var(--orange);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  font-family: 'Courier New', Courier, monospace
}

.mainheader {
  z-index: 999;
  height: 120px;
  width: 100%;
  background-color: var(--light);
  top: 1rem;
  position: fixed;
  font-weight: 500;
  justify-content: space-between;

}

.headerlogo {
  width: 250px;
  margin-top: 25px;
}

.rightheaderlinks {
  display: flex;
  float: right;
  font-size: 20px;
  margin-right: 3rem;
  margin-top: 2.5rem;
  gap: 20px;
}

.rightheaderlinks a {
  text-decoration: none;
  color: #333;
}

.rightheaderlinks a.active {
  text-decoration: underline;
  font-weight: bold;
}

.home-container {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.orange-line {
  position: absolute;
  left: 0;
  height: 1400px;
  right: 60%;
  top: -110px;
  bottom: 0;
  background-color: var(--orange);
  transform: rotate(25deg);
}

.homefill {
  position: absolute;
  left: 0;
  width: 200px;
  top: 0;
  bottom: 0;
  background-color: var(--orange);
}

.thorhome {
  margin-top: 150px;
}

.homelowermain {
  width: 100%;
  margin-top: 50%;
  position: absolute;
  height: 600px;
  background-color: var(--lessDark);
}

.whatisbell {
  position: absolute;
  margin-top: 15%;
  z-index: 990;
  font-size: 45px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  left: 50px;
}

.homeex {
  z-index: 990;
  margin-top: 18.5%;
  position: absolute;
  left: 60px;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

.learnmore {
  z-index: 990;
  position: absolute;
  height: 60px;
  width: 150px;
  border-style: solid;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  margin-top: 22%;
  left: 120px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.40) 0px 8px 14px;
  transition: .25s ease-in-out;

}

.learnmore:hover {
  font-size: 27px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  height: 70px;
  width: 160px;
}

.startbuild {
  z-index: 990;
  position: absolute;
  height: 60px;
  width: 350px;
  border-style: solid;
  border-color: var(--orange);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  margin-top: 22%;
  left: 320px;
  cursor: pointer;
  text-decoration: none;
  color: black;
  transition: .25s ease-in-out;
}

.startbuild:hover {
  font-size: 28px;
}

.box-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.box {
  width: 400px;
  height: 400px;
  background-color: #fff;
  /* Change this to the color you want */
  border-radius: 15px;
}

/* -------------All WorkOuts Card Styling--------------- */

.allCardContainer {
  margin-top: 10%;
  width: 40%;
  display: inline-block; 
  margin-right: 5%; 
  margin-bottom: 2%; 
  margin-left: 5%;
  border: 2px solid black;
  border-radius: 15px;
  vertical-align: top; 
}

.allCardHeader {
  background-color: var(--orange);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-size: 40px;
  color: white;

}

.allCardmainex {
  margin-left: 15px;
}

.allTargets {
  font-size: 25px;
  font-weight: 750;
  padding: 10px;
  border: 2px solid black;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.allComments {
  font-size: 15px;
  font-weight: 500;
  border: 2px solid black;
  display: inline-block;  
  padding: 6px;
}

.exerciseContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 20px;
}

.exerciseBlock {
  flex: 0 0 calc(50% - 20px); 
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

.allexcname{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;

}

.allsetsreps{
  display: flex;
  justify-content: space-evenly;
}

.setsLabel{
  font-size: 18px;
  font-weight: 500;

}

.repsLabel{
  font-size: 18px;
  font-weight: 500;
}

.allSets{
 font-size: 25px;
 font-weight: 700;

}


.excomtitle{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
}

.excomwriting{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  text-decoration: underline;
}

.allbuttcon{
  display: flex;
  justify-content: center;
  align-items: center;
 
}


.allButton{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 90%;
  height: 3rem;
  border-radius: 10px;
  background-color: var(--orange);
  font-size: 25px;
  font-weight: 600;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
  margin-left: 15px;
}


.likedislikecon{
  display: flex;
  justify-content: center;
  background-color: white;  
}

.blanklike{
  padding: 25px;
  cursor: pointer;

}

.blankdislike{
  padding: 25px;
  cursor: pointer;

}

.liftlikenum{
  font-size: 20px;
  font-weight: 700;
}

.liftdislikenum{
  font-size: 20px;
  font-weight: 700;

}

/* -----------create/my workouts Styling-------------- */


.createcontainer {
  display: flex;
  height: 100vh; 
}

.createformmain {
  width: 45%; 
  background-color: var(--lessDark);
  padding: 20px; 
  height: 100vh; 
  position: fixed;
  left: 0; 
  margin-top: -150px; 
}

.yourworkoutsheadcon{
  display:flex;
  width:69%;
  margin-top: -150px;
  margin-left: 40%;
  height: 200px;
  background-color: var(--orange);
  justify-content: center;
  align-items: center;
  border-bottom: 4px solid black;
}

.yourmytitle{
  font-size: 65px;
  font-weight: 700;
  color: white;
}

.myworkoutscardcon{
  margin-top: 10%;
  margin-left: -50%;
}


/* --------------Your Workouts Card--------------- */

.mycardconn{
  width: 250%;
  border: 2px solid black;
}

.mycardheadercon{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--orange);
  height: 100px;
  font-size: 45px;
  color: white;

}

.myworktargets{
  font-size: 25px;
  font-weight: 750;
  border: 2px solid black;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  height: 50px;
}


.allworkcomm{
  font-size: 15px;
  font-weight: 500;
  border: 2px solid black;
  display: inline-block;  
  padding: 6px;
  margin: 10px;
}

.myworkexctitle{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-decoration: underline;
}


.exerciseBlock2{
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  margin: 10px;
}

.myButton{
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  margin: 10px;
  width: 97%;
  height: 200px;
  background-color: white;
}

/* -----------add Exercise form------------- */


.add-exercise-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.add-exercise-form input {
  margin-bottom: 20px;
  padding: 10px;
  width: 40%;
  border-radius: 10px;
  border: 2px solid black;
}

/* ---------Create Lift Main Form---------------- */


.NameofYourLift{
  width: 60%;
  background-color: var(--lessDark);
  border: 2px solid white;
  height: 40px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.NameofYourLift::placeholder{
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding-left: 10px;
}


.optionsOfLift2{
  width: 60%;
  background-color: var(--lessDark);
  border: 2px solid white;
  height: 40px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.optionsOfLift2::placeholder{
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.optionsOfLift2 {
  color: white; 
  font-size: 20px;
  font-weight: 500;
}

.optionsOfLift2 option {
  color: white; 
  font-size: 16px; 
}

.commentsOfYourLift{
  width: 60%;
  background-color: var(--lessDark);
  border: 2px solid white;
  height: 40px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.commentsOfYourLift::placeholder{
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding-left: 10px;
}

.createButtonSubmit{
  width: 60%;
  height: 40px;
  background-color: var(--orange);
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  cursor: pointer;
}

.linkToAllWorkouts {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  height: 100%; 
  padding-left: 5px;
}

.linkToAllWorkoutscon{
  width: 350px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 2px solid white;
  margin-bottom: 20px;
  margin-top: 20px;
}


.deleteWorkoutInput{
  width: 350px;
  background-color: var(--lessDark);
  border: 2px solid white;
  height: 40px;
  border-radius: 10px;
  margin-bottom: 20px;
  font-size: 20px;
}

.deleteWorkoutInput::placeholder{
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding-left: 5px;
}

.deleteLiftButton{
  width: 150px;
  height: 40px;
  background-color: var(--orange);
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  cursor: pointer; 
  margin-left: 20px;
}




/* ---------------Profile Page Styling----------------- */
.allUsersMainCon{
  margin-top: 10%;

}


.profile-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-left: 50px;
  object-fit: cover;
  border: 2px solid black;
}



.img-upload-container {
  position: relative;
  
}

.custom-file-upload {
  cursor: pointer;
}

.hidden {
  display: none;
}

.img-wrap {
  position: relative;
  display: inline-block;
}


.change-photo-button {
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  position: absolute;
  top: 50%;
  left: 58%;
  transform: translate(-50%, -50%);
  display: none;
  border-radius: 50%;
  border: none;
  background-color: var(--lessDark);

}

.changehovertext{
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 600;
  width: 150px;
  height: 60px;
  position: absolute;
  top: 100%;
  left: 60%;
  transform: translate(-50%, -50%);
  border: none;
  background-color: var(--lessDark);
  border-radius: 8%;

}


.img-wrap:hover .change-photo-button {
  display: block;
}

.img-wrap:hover .changehovertext {
  display: flex;
}
.profmaincont{
  margin-top: -35%;
}

.userusername {
  font-size: 40px;
  font-weight: 700;
  margin-left: 20%;
  margin-top: -200px;
}

.useremail{
  font-size: 25px;
  margin-left: 20%;
}

.proflinething{
  margin-left: 20%;
  height: 2px;
  width: 350px;
  background-color: black;

}


.userfriends{
  font-size: 25px;
  margin-left: 20%;
  margin-top: 20px;
}

.userlifts{
  font-size: 25px;
  margin-left: 28%;
  margin-top: -50px;
}


.userdescrip{
  font-size: 22px;
  margin-left: 5%; 
  width: 60%; 
  text-align: justify; 
  line-height: 1.5; 
  
}

.editbuttonpro{
  border: none;
  background-color: white;
  font-size: 50px;
  margin-left: 5%;
  margin-top: 5%;
}


.protextarea{
  margin-left: 5%;
  margin-top: 5%;
  height: 40px;
  width: 300px;
  border: none;
  border-bottom: 3px solid black;  
}

.profsavebutton{
  width: 90px;
  background-color: var(--orange);
  font-size: 20px;
  margin-left: 5%;
}

.charrempro{
  margin-left: 5%;
}

.allUsersMainCon{
  margin-left: 50%;
}

.allUsersMainCon{
  margin-left: 70%;
  width: 500px;
  border: 2px solid black;
}


.topyoumay{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--orange);
  width: 100%;
  height: 110px;
}

.friendsboxsearch{
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.friendboxbody{
  display: flex;
  justify-content: center;

}

.indfriendbox{
  border: 2px solid black;
  width: 400px;
  padding: 10px;
}

























