.login-container{
    display: flex;
    margin-top: 15%;
    justify-content: center;
    align-items: center;

}

.signupcont{
    display: flex;
    margin-top: 15%;
    justify-content: center;
    align-items: center;

}
 .createtest{
    margin-top: 20%;
 }