:root {
    --orange: #D9B09C;
    --dark: #2c3531;
    --lessDark: #116466;
    --light: #d1e8e2;
    --lessOrange: #FFCB9A;
  }

.login-container{
    display: flex;
    margin-top: 15%;
    justify-content: center;
    align-items: center;

}

.signupcont{
    display: flex;
    margin-top: 15%;
    justify-content: center;
    align-items: center;

}

.createcontainer{
    margin-top: 15%;
    margin-left: 5rem;
}




 